<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Update User</title>
</head>
<body>

  <form th:method="PATCH" th:action="@{/admin/user}" th:object="${user}">
    <input th:type="hidden" th:field="*{id}">
    <p><label for="firstName">Firstname(Login)</label><input th:type="text" th:field="*{firstName}" id="firstName">
    <p><label for="lastName">Lastname</label><input type="text" th:field="*{lastName}" id="lastName"></p>
    <p><label for="password">Password</label><input type="password" th:field="*{password}" id="password"></p>

    <th:block th:each="s : ${listRoles}">

      <input th:type="checkbox"
             th:field="*{roles}"
             th:text="${s}"
             th:value="${s.id}"
      th:checked="${userRoles.contains(s.getAuthority())== true}">
    </th:block>

    <input type="submit" value="Обновить">

  </form>
</body>
</html>

