<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>User Details</title>
</head>
<body>
<h2>
  <p> Данные пользователя </p>
  <p> <th:block th:text="${user.getFirstName()}"></th:block> </p>
  <p> <th:block th:text="${user.getLastName()}"></th:block> </p>
  <p>Роли:</p>
</h2>
<h4>
  <ul>
    <th:block th:each="role : ${user.getRoles()}">
      <li th:text="${role.getRole()}"></li>
    </th:block>
  </ul>
</h4>
<h1>

  <form th:method="GET" th:action="@{/admin/user/{id}/edit (id = ${user.getId()})}">
    <input type="submit" value="Edit user">
  </form>
<br>
  <form th:method="DELETE" th:action="@{/admin/user/{id}/delete (id = ${user.getId()})}">
    <input type="submit" value="Delete user">
  </form>
<br>
  <form th:method="GET" th:action="@{/logout}">
    <input type="submit" value="logout">
  </form>

</h1>
</body>
</html>